{% extends "restaurant_manager/base.html.twig" %}

{% block title %}Les commandes{% endblock %}

{% block body %}
<style>
    .show-order{
        cursor: pointer;
    }
</style>
<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-md-3">
            <h1 class="text-center h2">En attente (<span id="orderCount">0</span>)</h1>
            <!-- <ul class="waiting"> -->
                {% for i in 1..1 %}
                    <!-- <li> -->
                        <div class="card show-order mb-4" style="width: 18rem;">
                            <div class="card-header">
                                00{{i}}
                            </div>
                            <ul class="list-group list-group-flush">
                            <li class="list-group-item">{{random(1,4)}}x {{ random(['Menu big tasty', 'Menu big mac', 'Menu big chicken tasty']) }}</li>
                            <li class="list-group-item">{{random(1,3)}}x Mc fleury</li>
                            </ul>
                            <div class="card-footer">
                                <span class="float-right text-danger">28-07-20 15h:45</span>
                            </div>
                        </div>
                    <!-- </li> -->
                {% endfor %}
            <!-- </ul> -->
        </div>
        <div class="col-md-6">
            <h1 class="text-center h2">Visualisation</h1>
            <h2 class="h4">Numéro de commande: 057 <span class="float-right">Statut: en attente</span></h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Article</th>
                        <th class="text-center">Qté</th>
                        <th>Options</th>
                        <th class="text-center">Prix</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in 1..3 %}
                    <tr>
                        <td>Menu Big Tasy</td>
                        <td class="text-center" >1</td>
                        <td>Fritte large + Fanta + suplements(sauce césar, salade, tomate)</td>
                        <td class="text-center" >2 500 Fc</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <h2 class="h4 mt-4">Total de la commande : <span class="float-right">7 500 Fc</span></h2>
            <div class="d-flex justify-content-around">
                <button class="btn btn-danger" type="button">Refuser</button>
                <button class="btn btn-success" type="button">Accepter</button>
            </div>
        </div>
        <div class="col-md-3">
            <h1 class="text-center h2 ">En préparation (0)</h1>
            <button class="btn btn-primary" id="mercurePost" type="button">Mercure</button>
        </div>
    </div>
    <div id="user-rating" data-user="{{app.user ? app.user.id : false}}"></div>
</div>
{% endblock %}

{% block javascripts %}
<script>

const counter = +$('div.show-order').length
$('#orderCount').text(counter);

//*********************************************************

$('#mercurePost').click(function(){
    var myHeaders = new Headers();
    myHeaders.append("Authorization", "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJtZXJjdXJlIjp7InB1Ymxpc2giOlsiKiJdfX0.qDw5qWrEI4C8fD5x8mQsW9t8kLlgzqLiM79qJ_sdCaY");
    myHeaders.append("Content-Type", "application/x-www-form-urlencoded");

    var urlencoded = new URLSearchParams();
    urlencoded.append("topic", "http://monsite.com/restaurant");
    urlencoded.append("data", "{\"id\": 310\n, \"number\": \"AL54M2\", \"message\": \"ok\"}");

    var requestOptions = {
    method: 'POST',
    headers: myHeaders,
    body: urlencoded,
    redirect: 'follow'
    };

    fetch("http://localhost:3000/hub", requestOptions)
    .then(response => response.text())
    .then(result => console.log(result))
    .catch(error => console.log('error', error));
})
//*********************************************************

const isAuthenticated = $('#user-rating').data('user')
const url = new URL('http://localhost:3000/hub');
url.searchParams.append('topic', 'http://monsite.com/restaurant');

const eventSource = new EventSource(url);

// const newCommandNotificationAudio = new Audio('../../../public/swiftly.ogg')

// The callback will be called every time an update is published
eventSource.onmessage = e => {

    let orderInfo = JSON.parse(e.data);

    console.log(orderInfo);
    if (orderInfo.id == isAuthenticated)
    {
        //incrementer le nombre(chiffre) de commande en attente
        let orderCount = +$('#orderCount').text();
        orderCount ++;
        $('#orderCount').text(orderCount);

        let card = `<div class="card show-order mb-4" style="width: 18rem;">
                        <div class="card-header">
                            ${orderInfo.number}
                        </div>
                        <ul class="list-group list-group-flush">
                        <li class="list-group-item">1x Menu big tasty</li>
                        <li class="list-group-item">1x Mc fleury</li>
                        </ul>
                        <div class="card-footer">
                            <span class="float-right text-danger">28-07-20 15h:45</span>
                        </div>
                    </div>`;
        const cards = document.querySelectorAll('.show-order');
        const lastCard = cards[cards.length -1];
        lastCard.insertAdjacentHTML('afterend', card);
        // newCommandNotificationAudio.play();
        console.log(e);
    }
    
    
} // do something with the payload
</script>
{% endblock %}
