{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}
{% block body %}
	<div class="container">
		<h1 class="text-center display-4 mb-2">Tableau de bord</h1>
		<div class="row">
			<div class="col-12 col-md-4">
				<h2>Chiffres globaux</h2>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Désignation</th>
							<th class="text-center">Valeur</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Utilisateurs</td>
							<td class="text-center">{{figures.users}}</td>
						</tr>
						<tr>
							<td>Commandes éffectuée</td>
							<td class="text-center">{{figures.orders}}</td>
						</tr>
						<tr>
							<td>Commandes livrée</td>
							<td class="text-center">{{figures.delivered}}</td>
						</tr>
						<tr>
							<td>Livreurs actif</td>
							<td class="text-center">{{figures.deliveryMen}}</td>
						</tr>
						<tr>
							<td>Restaurants</td>
							<td class="text-center">{{figures.restaurants}}</td>
						</tr>
						<tr>
							<td>Villes</td>
							<td class="text-center">{{figures.cities}}</td>
						</tr>
					</tbody>
				</table>
			</div>
            <div class="col-12 col-md-4">
                <h2>Commandes livrée</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td>Mois</td>
                            <td class="text-center" >commandes</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for month,order in orders %}    
                            <tr>
                                <td>{{month}}</td>
                                <td class="text-center">{{order | length}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
		</div>
	</div>
{% endblock %}
