{% extends "base.html.twig" %}
{% set restaurantExist = form.vars.value.id ? true : false %}

{% block title %}Création d'un réstaurant{% endblock title %}

{% block body %}
<div class="container">
    <h1>Informations sur le réstaurant</h1>

    {{form_start(form)}}

    <div class="row">
        <div class="col-12 col-md-6 form-group">
            {{form_row(form.name)}}
        </div>
        <div class="col-12 col-md-6 form-group">
            {{form_row(form.location)}}
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6 ">
            {{form_row(form.phone)}}
        </div>
        <div class="col-12 col-md-6 ">
            {{form_row(form.email)}}
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6 ">
            {{form_row(form.imageLogo)}}
        </div>
        <div class="col-12 col-md-6 d-flex align-items-end">
            {{form_row(form.activate)}}
        </div>
    </div>

    <div class="float-right form-group">
        <button type="submit" class="btn btn-success">{{ restaurantExist ? 'Modifier' : 'Ajouter'}}</button>
    </div>

    {{form_end(form)}}

</div>

{% endblock body %}

{% block javascripts %}
<script>
    $(document).on('change', '.custom-file-input', function () {
        let fileName = $(this).val().replace(/\\/g, 'browse').replace(/.*\//, 'parcourir');
        $(this).parent('.custom-file').find('.custom-file-label').text(fileName);
    });
</script>
{% endblock javascripts %}