{% extends "base.html.twig" %}

{% block title %}Réstaurant - {{restaurant.name}}{% endblock %}

{% block body %}
<div class="container">
    {% include "partials/flashes.html.twig" %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{path('restaurant_index')}}">Restaurants</a></li>
        <li class="breadcrumb-item active">{{restaurant.name}}</li>
      </ol>
    <div class="row mb-2">
        <div class="col-12 col-md-7">
            <img src="{{ asset(restaurant.imageLogo) }}"
                alt="bannière du {{restaurant.name}}" class="img-fluid img-thumbnail" style="max-width: 555px;"
                srcset="">
        </div>
        <div class="col-12 col-md-5">
            <h1>Apropos du réstaurant</h1>
            <h2 class="h4">Nom: {{restaurant.name | capitalize }}</h1>
                <h2 class="h4">Île: {{restaurant.location.island.name}}</h2>
                <h2 class="h4">Ville: {{restaurant.location.name}}</h2>
                <h2 class="h4">Spécialitées: {{restaurant.speciality}}</h2>
                <h2 class="h4">Téléphone: {{restaurant.phone}}</h2>
                <h2 class="h4">Email: <a href="mailto:{{restaurant.email}}">{{restaurant.email}}</a></h2>
                <h2 class="h4">Manager: {{restaurant.manager ?  restaurant.manager.user.fullName : 'Pas encore' }}</h2>
                <h2 class="h4">En ligne: {{restaurant.activate ? 'Oui' : 'Non'}}</h2>
                <a href="{{path('restaurant_edit', {'id': restaurant.id})}}" class="btn btn-primary">Editer</a>
                <a href="{{path('admin_restaurant_manager_new', {'restaurant': restaurant.id})}}" class="btn btn-primary">Ajouter Manager</a>
        </div>
    </div>
    <h1 >Apropos du Menu</h1>
    <div class="btnAddContent mb-4">
        <a href="{{path('section_new', {'id' : restaurant.id})}}" id="addPart">
            <i class="fas fa-plus mr-2"></i>Ajouter une Séction
        </a>
    </div>
    <div class="row">
        {% for section in restaurant.sections %}
            <div class="col-12 col-md-4 mb-4">
                <div class="card" style="width: 18rem;">
                    <img src="{{ asset(section.image)}}" class="card-img-top resize" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{section.name}}</h5>
                        <ul class="list-group list-group-flush">
                            {% for article in section.articles %}
                                <li class="list-group-item">{{article.name}} <span class="float-right font-weight-bold" >{{article.price | price}}</span></li>
                            {% endfor %}
                        </ul>
                        <a href="{{path('section_show', {'id': section.id})}}" class="btn btn-primary btn-sm">Voir</a>
                        <a onclick="return confirm('voullez vous vraiment supprimé cette section?')" href="{{path('section_delete', {'id':section.id})}}" class="btn btn-danger float-right btn-sm">Supprimer</a>
                    </div>
                </div>
            </div>
        {% else %}
            <p>Aucune séction disponible</p>
        {% endfor %}
    </div>
</div>
{% endblock %}