{% extends "base.html.twig" %}

{% block body %}
<div class="container">
    <h1 class="h2">verification du compte utilisateur</h1>
    {{form_start(searchUserform)}}
        <div class="row">
            <div class="col-12 col-md-6">
                {{form_row(searchUserform.phone)}}
            </div>
            <div class="col-12 col-md-3">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Verifier le numéro</button>
                </div>
            </div>
        </div>
    {{form_end(searchUserform)}}

    {% if user %}
        <div class="mt-4">
            <h1 class="h3">Le compte <strong>{{user.phone}}</strong> existe <i class="fas fa-check text-success"></i></h1>
            <div class="row">
                <div class="col-12 col-md-4">
                    <img src="/media/images/uploads/users/parker.jpg" alt="avatar du compte" class="user-avatar img-fluid img-thumbnail" />
                </div>
                <div class="col-12 col-md-4">
                    <h2 class="h4">Details du compte</h2>
                    <h3 class="h5">Nom complet: {{user.fullName}} </h3>
                    <h3 class="h5">Adresse mail: {{user.email}} </h3>
                    <h3 class="h5">Inscrit le: {{user.createdAt | date("m/d/Y H:i") }} </h3>
                    <h3 class="h5">Livreur: {{user.deliveryMan ? 'Oui' : 'non'}} </h3>
                    <!-- <h3 class="h5">Manageur de restaurant: <span id="account-manager"></span></h3> -->
                </div>
                <div class="col-12 col-md-4">
                    <h2 class="h4">Inscrire livreur</h2>
                    {{form_start(deliveryManForm)}}
                        {{form_row(deliveryManForm.city)}}
                        {{form_widget(deliveryManForm.phone, {'attr' : {'value': user.phone}})}}
                        <button class="btn btn-primary" type="submit">Inscrire</button>
                    {{form_end(deliveryManForm)}}
                </div>
            </div>
        </div>
    {% else %}
        {% if tryToFind %}
            <div class="mt-d">
                <h1 class="h3">Ce compte n'existe pas <i class="fas fa-ban text-danger"></i></h1>
            </div>
        {% endif %}
    {% endif %}

</div>
{% endblock body %}