{% extends "restaurant_manager/base.html.twig" %}

{% block title %}Changer le mot de passe{% endblock %}

{% block body %}
<div class="container">
    {% include "partials/flashes.html.twig" %}
    <h1>Modifier le mot de passe</h1>
    {{form_start(form)}}
    <div class="alert alert-light">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                {{form_row(form.currentPassword)}}
            </div>
            <div class="col-md-6 offset-md-3">
                {{form_row(form.newPassword)}}
            </div>
            <div class="col-md-6 offset-md-3">
                {{form_row(form.confirmPassword)}}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6 offset-md-3">
            <button type="submit" class="btn btn-success float-right">Enregistrer</button>
        </div>
    </div>
    {{form_end(form)}}
</div>
{% endblock %}